/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/app/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/build/
/web/uploads/
/node_modules/

# Email spool folder
/app/spool/*

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
