<p>
    <a class="bold" href="{{ path('download_tool') }}">
        Cliquez ici pour télécharger l'outil <i class="glyphicon glyphicon-wrench"></i>
    </a>
</p>

<p>
    Par ailleurs, nous vous proposons pour la première utilisation de l’outil :
    <ul>
        <li>
            <a href="{{ path('download_caption') }}">
                Une légende de tout ce qui s’y trouve <i class="glyphicon glyphicon-book"></i>
            </a>
        </li>
        <li>
            <a href="{{ path('download_examples') }}">
                2 exemples d’utilisation très rapides à lire qui illustrent bien la façon d’utiliser l’outil <i class="glyphicon glyphicon-list"></i>                
            </a>
        </li>
    </ul>
</p>