{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci</h1>
    <p>
        Nous vous remercions chaleureusement d’avoir participé à cette étude. Cela nous permettra d’évaluer les pratiques cliniques en médecine de ville et tenter au mieux d’aider les cliniciens dans leurs prescriptions d’antithrombotiques. 
    </p>

    <p>
        L’outil d’aide à la prescription que nous avons crée est désormais à votre disposition.
        Pour télécharger ce document (et l’imprimer si vous le souhaitez), cliquez sur l’icône : outil. 
        Par ailleurs, nous vous proposons pour la première utilisation de l’outil : 
        une légende de tout ce qui s’y trouve (icône : guide)
        2 exemples d’utilisation très rapides à lire qui illustrent bien la façon d’utiliser l’outil (icône : exemple)
    </p>

    <p>
        Néanmoins, nous vous demandons de ne pas communiquer l’outil pour ne pas fausser les résultats. 
    </p>

    <p>
        Bien confraternellement
    </p>
{% endblock %} 
