{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci</h1>
    <p>
        Nous vous remercions chaleureusement d’avoir participé à cette étude. Cela nous permettra d’évaluer les pratiques cliniques en médecine de ville et tenter au mieux d’aider les cliniciens dans leurs prescriptions d’antithrombotiques. 
    </p>

    <p>
        L’outil d’aide à la prescription que nous avons crée est désormais à votre disposition:
    </p>
    {{ include('default/_tool_download.html.twig') }}
    <p>
        Néanmoins, nous vous demandons de ne pas communiquer l’outil pour ne pas fausser les résultats. 
    </p>

    <p>
        Bien confraternellement
    </p>
{% endblock %} 
