{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci</h1>
    <p>
        Nous vous remercions chaleureusement d’avoir participé à cette étude.
    </p>

    <p>
        L’outil d’aide à la prescription que nous avons crée est désormais à votre disposition:
    </p>
    {{ include('default/_tool_download.html.twig') }}
    <p>
        <span class="red">Néanmoins, nous vous demandons de ne pas communiquer l’outil à des collègues pour ne pas fausser les résultats de l’étude.</span>
    </p>

    <p>
        Bien confraternellement
    </p>
{% endblock %} 
