{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci</h1>
    <p>
        Nous vous remercions chaleureusement d’avoir participé à cette étude. Cela nous permettra d’évaluer les pratiques cliniques en médecine de ville et tenter au mieux d’aider les cliniciens dans leurs prescriptions d’antithrombotiques.
    </p>
    <p>
        <span class="red">Néanmoins, nous vous demandons de ne pas communiquer l’outil pour ne pas fausser les résultats de l’étude.</span><br>
        Bien confraternellement
    </p>

    {% if form|default and participantId|default %}
        <p>
            Concernant l’outil proposé, merci de noter les items suivants de 0 (pas du tout d’accord) à 10 (tout à fait d’accord) :
        </p>
        <div>
            {{ form(form) }}
        </div>
    {% endif %}
{% endblock %} 
