{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Nous ne pouvons pas vous inclure dans l'étude</h1>
        Nous vous remercions mais cette étude ne souhaite évaluer que les pratiques cliniques de ville de la part des médecins généralistes ou cardiologues, raison pour laquelle nous ne pouvons pas vous inclure dans l’étude. 
        Un outil numérique est en cours d’élaboration et destiné à tous les médecins. Vous serez bien sur informé.
        Bien confraternellement
    </div>
{% endblock %}
