{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nous sommes désolés mais ne pouvons pas vous inclure dans l'étude</h1>
    <ul>
        <li>Seuls les médecins généralistes ou cardiologues ayant une pratique ambulatoire (partielle ou totale) sont éligibles à cette étude.</li>
        <li>Un outil numérique est en cours d’élaboration et est destiné à tous les médecins. Vous serez bien sur informés.</li>
        <li>Merci de votre intérêt pour ce sujet !</li>
    </ul>
    {# <p>Nous vous remercions mais seuls les médecins généralistes ou cardiologues ayant une pratique ambulatoire (partielle ou totale) sont éligibles pour cette étude.
    </p>
    <p>Un outil numérique est en cours d’élaboration et est destiné à tous les médecins. Vous serez bien sur informé.</p>
    Merci de votre intérêt pour ce sujet ! #}
{% endblock %}