{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupe outil</h1>
    <p>
        Vous avez été randomisé dans le groupe qui a accès à l’outil d’aide à la prescription. Vous allez donc pouvoir répondre aux trois cas cliniques en vous aidant de cet outil d’aide à la prescription. 
    </p>

    <p>
        Pour télécharger ce document (et l’imprimer si vous le souhaitez), cliquez sur l’icône : outil. 
    </p>
    <p>
        Par ailleurs, nous vous proposons pour la première utilisation de l’outil :
        une légende de tout ce qui s’y trouve (icône : guide)
        2 exemples d’utilisation très rapides à lire qui illustrent bien la façon d’utiliser l’outil (icône : exemple)
    </p>
    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('vignette_description') }}">Commencer</a>
    </div>
{% endblock %}
