{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupe témoin</h1>
    <p>
    	Vous avez été randomisé dans le groupe témoin. Vous allez donc pouvoir répondre aux QCM des trois cas cliniques au plus proche de ce que vous auriez fait en consultation dans la situation décrite.
    </p>
	<p>
		A l’issue des 3 cas cliniques, vous pourrez télécharger l’outil d’aide à la prescription et son guide d’utilisation.
	</p>
	<div class="text-center">
        <a class="btn btn-primary" href="{{ path('vignette_description') }}">Commencer</a>
    </div>
{% endblock %} 
