{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupe contrôle</h1>
    <p>
    	Vous avez été randomisé dans le groupe contrôle. Vous allez donc pouvoir répondre aux trois cas cliniques au plus proche de ce que vous auriez fait en consultation dans la situation décrite. 
    </p>
	<p>
		A l’issu des 3 vignettes cliniques, vous pourrez télécharger l’outil d’aide à la prescription que nous avons crée, ainsi que son guide d’utilisation.
	</p>
{% endblock %} 
