{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="title">Bonjour et bienvenue sur le portail de l’étude Combi-AT </h1>
    </div>

    {% if participantId|default %}
        <div>
            Vous avez un questionnaire en cours, cliquez ci-dessous pour reprendre où vous vous étiez arrêté
            <div class="retry">
                <a href="{{ path('vignette_question') }}" class="btn btn-primary">
                    Reprendre mon questionnaire
                </a>
            </div>
        </div>
    {% endif %}
    <div>
        <h2>Pourquoi cette étude ?</h2>
        <p>
            Avec le progrès médical, il existe de plus en plus d’indications aux combinaisons d'anti-thrombotiques (bi ou trithérapie associant anticoagulant et/ou antiagrégants). Cependant, il n’est pas toujours aisé pour un médecin de savoir quel(s) anti-thrombotique(s) est (sont) recommandé(s), à quelle(s) dose(s) et pour combien de temps dans la situation particulière de son patient. En effet, les recommandations sont multiples, axées le plus souvent sur une maladie et sont très souvent mises à jour (parfois dans la même année).
        </p>
    </div>

    <div>
        <h2>Quel est l’objectif de l’étude ?</h2>
        <p>
            Evaluer si l’utilisation d’un outil d’aide à la prescription des combinaisons d'anti-thrombotiques permet  au médecin d’établir plus facilement des prescriptions en accord avec les recommandations. 
        </p>
    </div>

    <div>
        <h2>Pourquoi participer ?</h2>
        <ul class="simple-list">
            <li>L’étude est rapide (10 min en moyenne).</li>
            <li>L’outil d’aide à la prescription vous sera remis en guise de remerciement à la fin de l’étude.</li>
            <li>Vous contribuez à développer une action d’aide à la prescription des anti-thrombotiques, classe thérapeutique la plus en cause dans les accidents médicamenteux graves et évitables.</li>
        </ul>
    </div>
    

    <div class="index-schema">
        <h2>Comment cela se passe en pratique ?</h2>
        
        <div class="panel panel-default">
            <div class="panel-body">
                Cliquez sur le bouton "Commencer l’étude"
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Remplissez quelques données concernant votre pratique médicale.
                <span class="bold">Ces données comme les réponses ensuite sont totalement anonymes</span>
            </div>
        </div>
        

        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default arrow_box">
                    <div class="panel-body underline">
                        Possibilité 1 : Groupe « outil d'aide à la prescription »
                    </div>
                </div>
                <div class="panel panel-default arrow_box">
                    <div class="panel-body">
                        Découvrez l’outil (avec l’aide du guide de prise en main)
                    </div>
                </div>
                <div class="panel panel-default arrow_box">
                    <div class="panel-body">
                        Complétez les 3 cas cliniques (sous forme de QCM)
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Vous avez terminé.
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default arrow_box">
                    <div class="panel-body underline">
                        Possibilité 2 : Groupe « témoin »
                    </div>
                </div>
                <div class="panel panel-default arrow_box">
                    <div class="panel-body">
                        Complétez les 3 cas cliniques (sous forme de QCM) au plus proche de ce que vous auriez fait en consultation dans la « vraie vie »
                    </div>
                </div>
                <div class="panel panel-default arrow_box">
                    <div class="panel-body">
                        Vous avez terminé.
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        Nous vous transmettons l’outil avec son guide de « prise en main »
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="warn text-center">
        Merci de ne pas communiquer l’outil à des collègues pour ne pas fausser les résultats de l’étude
    </div>


    <div class="bold">
        Vous pouvez arrêter et reprendre cette étude quand vous le souhaitez mais sur le même ordinateur et même navigateur uniquement.
    </div>

    {% if participantId|default %}
        {# <div>
            <div class="retry">
                <a href="{{ path('vignette_question') }}" class="btn btn-primary">
                    Reprendre mon questionnaire
                </a>
            </div>
        </div> #}
    {% else %}
        <div class="text-center">
            <a href="{{ path('participant') }}" class="btn btn-primary btn-home">
                Commencer l'étude
            </a>
        </div>
    {% endif %}
{% endblock %}
