{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vignette {{vignetteKey}}/3 - Question {{ questionRef }}</h1>
    {{ form(form) }}


    <a href="#" data-toggle="collapse" data-target=".description" aria-expanded="false">
        Voir / Cacher la présentation
    </a>
    <div class="collapse description">
        {{ description|raw }}
    </div>
{% endblock %}
