$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/* Variables */
$bg: #FAFAFA;
$primary: #4056A1;
$p2: #e6e9f1;
$secondary: #D79922;
$tertiary: #DF484F;

/* Template */
body{
    background-color: $bg;
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 30px;
}
.navbar-default{
    background-color: $primary;
    .navbar-brand{
        color: white;
        &:hover{
            color: $secondary;
        }
    }
}
.yellow{
    color: $secondary;
}
h1{
    @extend .title;
    font-size: 24px;
}
h2{
    @extend .title;
    font-size: 18px;
}

/* Simple Helpers */
.underline{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
.warn{
    color: #C00000;
    margin-bottom: 20px;
    margin-top: 20px;
}
.simple-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.retry{
    text-align: center;
    margin-top: 10px;
}
.title{
    text-align: left;
    border-left: 3px solid $secondary;
    padding-left: 10px;
    color: $primary;
}

/* Forms */
form{
    input,select{
        max-width: 500px;
    }
}
form[name="tool_review"]{
    label.control-label{
        font-weight: bold;
        display: block;
    }
}

/* Homepage schema */
.index-schema{
    text-align: center;
    .panel{
        background: $p2;
        border: 1px solid $primary;
        border-radius: 10px;
    }
}
.arrow_box {
    position: relative;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-top-color: $p2;
    border-width: 13px;
    margin-left: -13px;
}
.arrow_box:before {
    border-top-color: $primary;
    border-width: 15px;
    margin-left: -15px;
}

/* Button */
.btn-home{
    margin: 30px 0;
    font-size: 20px;
}
.btn-desc{
    margin-top: 10px;
}
.btn-primary{
    background-color: $primary;
    color: white;
    border-color: #1E347A;
    &:hover{
        background-color: $tertiary;
        color: white;
        border-color: $tertiary;
    }
}
