$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.test{
	background: red;
}
.underline{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}

form{
	input,select{
		max-width: 500px;
	}
	label{
		font-weight: normal;
	}	
}

form[name="tool_review"]{
	label.control-label{
		font-weight: bold;
		display: block;
	}
}

.red{
	color: red;
}