$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.test{
	background: red;
}
.underline{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}

form{
	input,select{
		max-width: 500px;
	}
	label{
		font-weight: normal;
	}	
}

form[name="tool_review"]{
	label.control-label{
		font-weight: bold;
		display: block;
	}
}

.red{
	color: red;
}

.index-schema{
	text-align: center;
	.panel{
		background: #d9edf7;
		border: 1px solid #31708f;
		border-radius: 10px;
	}
}

.warn{
	color: #C00000;
	margin-bottom: 20px;
    margin-top: 20px;
}

.btn-home{
	margin: 30px 0;
	font-size: 20px;
}